body {
  margin: 0 auto;
  z-index: 3;
}

h1,
h2,
p {
  color: black;
  font-family: tahoma;
  color: darkBlue;
  font-family: "Baloo Tammudu 2", cursive;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;
  position: fixed;

  background-color: crimson;
}

/***** MAIN / BODY *****/

.sectionContainer { padding: 3vh 5vw; }

/* Who is section */

#whoSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  padding: 15vh 0 10vh 0;
  min-height: 50vh;
  max-height: 80vh;
}

.whoHeader {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.whoTitle {
  font-weight: 900;
  align-self: center;
}

.whoImage {
  border-radius: 50%;
  width: 15em;
  height: 15em;
  object-fit: cover;

  box-shadow: 0px 2px 15px 3px lightBlue;
}

.whoBody {
  max-width: 30em;
  text-align: center;
}

/* Work experience section */

#workSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  padding: 15vh 0 10vh 0;
  min-height: 50vh;
  max-height: 80vh;
}

.workContainer {
  align-items: center;
  align-content: center;
}

.workTitle {
  font-weight: 900;
  align-self: center;
}

.workImage {
  float: left;
  margin:  0 2em 2em 0;
  border-radius: 50%;
  width: 5em;
  height: 5em;
  object-fit: contain;
  box-shadow: 0px 2px 15px 3px lightBlue;
}

.workBody {
  max-width: 30em;
  text-align: center;
}

/* Education section */

#eduSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  padding: 15vh 0 10vh 0;
  min-height: 50vh;
  max-height: 80vh;
}

.eduContainer {
  align-items: center;
  align-content: center;
}

.eduTitle {
  font-weight: 900;
  align-self: center;
}

.eduImage {
  float: left;
  margin:  0 2em 2em 0;
  border-radius: 50%;
  width: 5em;
  height: 5em;
  object-fit: contain;
  box-shadow: 0px 2px 15px 3px lightBlue;
}

.eduBody {
  max-width: 30em;
  text-align: center;
}

/* Projects section */

#projSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  padding: 15vh 0 10vh 0;
  min-height: 50vh;
  max-height: 80vh;
}

.projContainer {
  align-items: center;
  align-content: center;
}

.projTitle {
  font-weight: 900;
  align-self: center;
}

.projImage {
  float: left;
  margin:  0 2em 2em 0;
  border-radius: 50%;
  width: 5em;
  height: 5em;
  object-fit: contain;
  box-shadow: 0px 2px 15px 3px lightBlue;
}

.projBody {
  max-width: 30em;
  text-align: center;
}

/******** HAMBURGER MENU *******/

/*** BIG SCREENS ***/
#hamnav {
  width: 100%;
  background: crimson;
  /* Optional */
  position: sticky;
  top: 0;
}

#hamitems { display: flex; }
#hamitems a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px 10px 0 10px;
  color: white;
  font-family: "Baloo Tammudu 2", cursive;
  text-decoration: none;
  text-align: center;
}
#hamitems a:hover { background: #000; }
#hamnav label, #hamburger { display: none; }

/*** [ON SMALL SCREENS] ***/
@media screen and (max-width: 768px){
  /* (A) BREAK INTO VERTICAL MENU */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid crimson;
    background-color: #000;
  }

  /* (B) SHOW HAMBURGER ICON */
  #hamnav label {
    display: inline-block;
    color: white;
    background: crimson;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  /* (C) TOGGLE SHOW/HIDE MENU */
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
}